/*
Theme Name:   Yivic Lite Child
Theme URI:    https://github.com/manhphuc/yivic-lite-child
Description: Child theme for Yivic Lite
Author:       Phuc Nguyen
Author URI:   https://wordpress.org
Template:     yivic-lite
Version:      1.0.0
Text Domain:  yivic-lite-child
*/
